*{
    font-family: 'Tiamat Condensed SC Regular';
    font-weight: 400;
}

ul {
    list-style: none;
}

#header-main {
    background-color: maroon;
    color: #bfbdc1;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

#main-nav{
    width: 80%;
    display: flex;
    justify-content: center;
    padding-bottom: .5%;
}

#nav-list{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: 'Tiamat Condensed SC Regular';
    font-size: larger;
    font-weight: 400;
    letter-spacing: .025em;
}

.nav-item {
    font-family: 'Tiamat Condensed SC Regular';
    color: #bfbdc1;
}

.location {
    color: white;
    font-size: x-large;
    font-weight: 400;
}