#race-details {
    display: flex;
    height: 85vh;
    /* flex-direction: column; */
    /* height: 100%; */
    /* flex: 1; */
}

#detail-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}